body{
    color: blue;
}
body{
    background-color: aqua;
}
h1{
    color: blue;
    text-decoration-line: overline;
    text-align: center;
        font-size: 45px;
}
h2{
    color:blueviolet
        font-size 35px
}
p{
        font-size: 20px;
}